/* ter o fundo escuro e com as bordas brilhantes,tipo uma luz led que se move pelas bordass; whenever i hover the cities the background color changes a bit
*/
footer {
  text-align: center;
  padding: 50px;
}
.container {
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20%;
  background: linear-gradient(145deg, #3d2f5f, #493871);
  box-shadow: 42px 42px 84px #1b152a, -42px -42px 84px #6d53aa;
}
select {
  background-color: beige;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

.city {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  margin: 15px 0;
  border-radius: 5px;
  border-bottom: 0.5px solid white;
}
.city:last-child {
  border: none;
}
.city:hover {
  background-color: #37319f;
  transition: transform 0.3s ease;
}

.paris-time {
  font-size: 35px;
  color: aliceblue;
  font-weight: bold;
}
.paris-time small {
  font-size: 15px;
  color: aliceblue;
  vertical-align: middle;
  line-height: 35px;
}
.time {
  font-size: 35px;
  color: aliceblue;
  font-weight: bold;
}
.time small {
  font-size: 15px;
  color: aliceblue;
  vertical-align: middle;
  line-height: 35px;
}

h1 {
  color: aliceblue;
  text-align: center;
}
.date {
  opacity: 0.5;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  margin: 0 0 10px;
}
.icon {
  width: 30px;
  color: aliceblue;
  display: block;
  margin: 0 auto;
}
